* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Lato", sans-serif; }

h2 span {
  color: limegreen; }

section {
  padding: 30px 50px; }

.clear {
  clear: both; }

#main-header {
  height: 80vh;
  background: url("../img/header-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  #main-header .header-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif; }
    #main-header .header-inner h1 {
      font-size: 70px;
      font-weight: 100; }
      #main-header .header-inner h1 span {
        color: limegreen; }
    #main-header .header-inner h2 {
      font-weight: 100;
      font-size: 40px; }

#about {
  text-align: center;
  background-color: #F9FCFE; }
  #about figure img {
    width: 50%; }

#umiejetnosci h2 {
  text-align: center; }
  #umiejetnosci h2 span {
    color: limegreen; }

#umiejetnosci p {
  text-align: center;
  padding-bottom: 40px; }

#umiejetnosci h1 span {
  color: limegreen; }

#umiejetnosci div {
  padding: 50px 0px;
  text-align: center; }
  #umiejetnosci div figure {
    display: inline-block; }

#umiejetnosci figcaption {
  text-align: center; }

#portfolio h2 {
  text-align: center; }

#portfolio #portfolio-item-1 {
  background-image: url(../img/portfolio1.jpg); }

#portfolio #portfolio-item-2 {
  background-image: url(../img/portfolio2.jpg); }

#portfolio #portfolio-item-3 {
  background-image: url(../img/portfolio4.jpg); }

#portfolio .portfolio-items {
  text-align: center;
  font-size: 0; }
  #portfolio .portfolio-items .portfolio-item {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
    position: relative; }
    #portfolio .portfolio-items .portfolio-item .item-mask {
      background-color: rgba(42, 61, 79, 0.8);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      position: absolute;
      font-size: initial; }
      #portfolio .portfolio-items .portfolio-item .item-mask .item-content {
        border: 1px solid #fff;
        margin: 10px;
        height: 330px;
        position: relative; }
        #portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner {
          color: #fff;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          left: 0;
          padding: 5px; }
          #portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner a {
            color: #fff; }
          #portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-inner a:hover {
            color: #1ac056; }
    #portfolio .portfolio-items .portfolio-item .item-mask:hover {
      opacity: 1; }

#adress,
#formularz {
  float: left;
  display: inline-block;
  width: 50%; }

#contact {
  background-color: #213b50;
  color: #fff;
  overflow: hidden; }
  #contact .contact-data {
    padding: 60px; }
    #contact .contact-data h2 {
      text-align: left;
      font-size: 38px; }
    #contact .contact-data adress {
      font-style: normal;
      margin: 72px 0;
      line-height: 25px; }
    #contact .contact-data a {
      color: #1ac056; }
    #contact .contact-data .contact-social-icons a {
      display: inline-block;
      color: #fff;
      height: 38px;
      width: 38px;
      text-align: center;
      line-height: 38px;
      border: 1px solid #fff;
      margin-right: 30px;
      font-size: 22px; }
    #contact .contact-data .contact-social-icons a:hover {
      color: #213b50;
      border: 1px solid #213b50;
      background-color: #fff; }

.contact-form {
  margin-top: 100px; }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2b4a64;
    border: #2b4a64;
    color: #fff; }
  .contact-form input:focus,
  .contact-form textarea:focus {
    background-color: #426684; }
  .contact-form input[type="submit"] {
    background-color: #1ac056;
    color: #fff;
    width: auto;
    text-transform: uppercase;
    float: right;
    padding: 15px 30px;
    border: 1px #1ac056 solid; }
  .contact-form input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056; }

footer {
  background-color: #142634;
  color: #fff;
  padding: 0 80px; }
  footer p {
    margin: 0px; }
